<html>

    <head>
        <title>sitio</title>
    </head>
    <body>
        <header>
            <nav>
                <p>Sitio</p>
                <nav>
                    <ul>
                        <li>
                            <a href="/canciones/crear">Crear cancion</a>
                            
                        </li>
                        <li>
                           <a href="/canciones">Ver Canciones</a>
                        </li>
                    </ul>
                </nav>
            </nav>
        </header>